numpy
pytest
#faiss-gpu
names==0.3.0
networkx[all]
langchain-community==0.3.18
langchain-core==0.3.39
langchain==0.3.19
langchain-openai==0.3.7
langchain-text-splitters==0.3.6
langsmith==0.3.10
langgraph==0.2.74
nltk==3.8.1
openai==1.58.1
poppler-utils==0.1.0
pymilvus==2.4.0
pypdf==4.1.0
python-dotenv==1.0.1
tiktoken==0.7.0
upstash-vector
yfinance==0.2.51
timescale-vector==0.0.7
boto3==1.37.9
